<ion-header>
  <ion-toolbar>
    <ion-title padding>
      Happy Shop 
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Do It</ion-label>
      </ion-list-header>
      <ion-item href="/tabs/menu">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Buy something</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Bag</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Payment</ion-label>
      </ion-item>
    </ion-list>
    </ion-card>
    


