
ion-content{
  margin-right: auto;
  margin-left: auto;
 
}
ion-tittle{
  margin-right: auto;
  margin-left: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
ion-card *{
padding-right: 0pt;
padding-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;

}