<body>
<ion-content padding center text-center>
    <ion-header>
        <ion-toolbar>
            <ion-title >
                Welcome to the Happy Shopping 
            </ion-title>       
        </ion-toolbar>
      </ion-header>

      <ion-card class="welcome-card"  >
          <img src="/assets/icon/logo.jpg" alt="" />
          <ion-card-header>
              <ion-card-subtitle>Get Started</ion-card-subtitle>
              <ion-card-title>Welcome to Ionic</ion-card-title>
            </ion-card-header>
        </ion-card>

            <ion-item class="user">
                <ion-input placeholder ="username" >        
                </ion-input>
              </ion-item>
          <ion-item class="pass"> 
            <ion-input  placeholder="Password" type="password" ></ion-input>
          </ion-item>
       
            <ion-button 
            ion-button full href="http://localhost:8100/tabs/tab1" color="primary">Login
          </ion-button>
          <ion-button 
                   ion-button full href="http://localhost:8100/register" color="light">Register
          </ion-button>
    


  </ion-content>
 
</body>
  
  


