ion-content{
    margin-right: auto;
    margin-left: auto;
  }
  ion-button{
    padding-left: auto;
    padding-right: auto;
    display: flex;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
  }
.email{
   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
  }
  .password{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
  }
  .username{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
  }
  ion-card{
      margin-right: auto;
      margin-left: auto;
      width: 50%;
  }
    
 