<ion-header padding center text-center>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center>
  <ion-card class="data">
<ion-item class="email">
  <ion-input 
          placeholder="insert Email" type="email"></ion-input>
</ion-item>
<ion-item class="password">
    <ion-input placeholder="Make a Password" type="password"></ion-input>
  </ion-item>
  <ion-item class="username">
      <ion-input placeholder="set Username "></ion-input>
    </ion-item>
    </ion-card>
    
    <ion-button  padding center
    ion-button full href="http://localhost:8100/login" color="primary">Regist
  </ion-button>

    
</ion-content>
